<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="stsim-dmult" displayName="SyncroSim Add-On Package (to stsim) for generating dynamic multipliers in ST-Sim." version="3.1.43" configVersion="2.0000" url="https://github.com/ApexRMS/stsim-dmult">
    <transformers>
      <transformer name="stsim-dmult" displayName="ST-Sim Dynamic Multipliers" isAddOn="True" extendsModel="stsim">
        <runtime>
          <transformer name="stsim-dmult:runtime"/>
        </runtime>
      </transformer>
      <transformer name="stsim-dmult:runtime" displayName="Dynamic Multipliers" className="SyncroSim.STSimDynMult.DynMultTransformer" classAssembly="SyncroSim.STSimDynMult" extendsTransformer="stsim:runtime">
        <datafeeds>
          <datafeed name="stsim-dmult:options-datafeed" displayName="DHS Multipliers" dataScope="Scenario">
            <datasheets>
              <datasheet name="DM_DHSMultipliers" displayName="DHS Multipliers" isSingleRow="True">
                <columns>
                  <column name="DHSMultipliersID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Enabled" dataType="Boolean"/>
                  <column name="Frequency" dataType="Integer" validationType="WholeNumber" format="d"/>
                  <column name="StateAttributeTypeID" dataType="Integer" displayName="State Attribute Type" validationType="Datasheet" formula1="STSim_StateAttributeType"/>
                  <column name="Script" dataType="String"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <visualizers>
      <visualizer name="stsim-dmult:options-datafeed-visualizer" target="stsim-dmult:options-datafeed" className="SyncroSim.STSimDynMult.OptionsDataFeedView" classAssembly="SyncroSim.STSimDynMult"/>
    </visualizers>
    <layouts>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <item name="stsim-dmult:options-datafeed"/>
      </layout>
    </layouts>
  </package>
</configuration>
